<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Note</title>
</head>
<body>
    <h1>Edit Note</h1>
    <form method="POST" action="/edit-note">
        <input type="hidden" name="id" value="{{ note.id }}">
        <label for="title">Title:</label>
        <input type="text" name="title" id="title" value="{{ note.title }}"><br>
        <label for="description">Description:</label>
        <textarea name="description" id="description">{{ note.description }}</textarea><br>
        <input type="submit" value="Save Changes">
    </form>
    <a href="/">Home</a>
</body>
</html>