<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to a new navigation experience</h1>

    <ul>
        {% for note in notes %}
            <li>{{ note.title }}: {{ note.description }}</li>
        {% endfor %}
    </ul>
    <a href="/add-note">Add Note</a>
</body>
</html>